.App {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: fantasy;
  background-color: #0000001a;
}
body {
  margin: 0;
}

.App-header {
  background: radial-gradient(
    circle farthest-corner at 100px 50px,
    #fbf2eb,
    #352a3b
  );
  min-height: 80vh;

  margin: 30px 0 0 30px;
  width: 900px;
  border-radius: 20px;
  overflow: hidden;
}
.App-Todo {
  margin: 30px 0 0 30px;
  width: 480px;
  border-radius: 10px;
  box-shadow: 0 3px 15px #0000001a;
  overflow: hidden;
}
.ant-list-lg .ant-list-item {
  background-color: rgb(31, 77, 134);
}
